<div>
    <form action="/users/create-user" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <input type="password" name="confirm_password" placeholder="Re-enter password">
        <input type="submit" value="signup">
    </form>
    <a href="/users/auth/google">Google signin signup</a>

</div>