<div>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="signin">
    </form>
</div>
<p>
    <a href="/users/auth/google">Google signin signup</a>
</p>